@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    user-select: none;
    color: var(--text-color);
}

:root {
    --back-color: #65B741;
    --panel-color: azure;
    --button-color: #FCDC2A;
    --text-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100vw;
    height: 100vh;
    background: var(--back-color);
}
h1 {
    display: block;
    margin: 4vh 3.5vh 3vh;
    font-size: 1.7em;
    background: var(--back-color);
    color: var(--panel-color);
    padding-left: 20%;
}
.set-panel {
    position: fixed;
    padding-left: 20%;
    padding-top: 8%;
    width: 100vw;
    height: 87vh;
    border-radius:  100px 100px 0px 0px;
    background-color: var(--panel-color);
}
h2 {
    font-size: 1em;
    margin: 10% 0 5%;
}
#themes {
    width: 60vw;
}
#themes > *{
    font-size: 1.2em;
}
.box {
    display: flex;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 5%;
}
.check {
    margin: 0 4% 0 1%;
	width: 25px;
	height: 25px;
    text-align: center;
}

.check:checked {
	accent-color: var(--back-color);
}
.sets {
    margin-top: 10%;
    margin-left: -3%;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    outline: none;
    border: 1px solid var(--text-color);
    padding: 3px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
    margin-left: 33%;
}
input[type="text"] {
    margin-left: -7%;
}
.level {
    margin-top: 1.4%;
}
button {
    border-radius: 20px;
    font-size: 150%;
    padding: 10px 10px 14px;
    margin-left: 6%;
    margin-top: 20%;
    background-color: var(--button-color);
    border: none;
}
button:active {
    background-color: #F7F6BB;
}

#backBtn {
    font-size: 38px;
    margin-top: 2vh;
    display: none;
    background: none;
    color: var(--panel-color);
}

.hide1 {
    display: none;
}

.word-panel {
    display: flex;
    border-radius: 20px;
    width: 88vw;
    margin-top: 35px;
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: lightgreen;
}
h3 {
    text-align: center;
    font-size: 2em;
}
.panel > * > * {
    font-size: 1.3em;
}
.panel {
    margin-top: 20px;
    display: flex;
    width: 60vw; 
    justify-content: space-around;
    align-items: center;
}


.modal {
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal-box {
    position: relative;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    max-width: 250px;
    padding: 35px 20px;
    margin: 30px 50px;
    z-index: 1;
    background-color: azure;
    transform: scale(0);
    transition: transform .6s;
}

#close-btn {
    position: absolute;
    font-size: 20px;
    top: -35px;
    right: 20px;
    border: none;
    background-color: transparent;
    color: #65B741;
    padding: 5px;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal-box {
    transform: scale(1);
}
